/* src/app/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-custom-blue;
}

.nav-link {
  position: relative;
  padding: 0 1rem; 
  text-decoration: none;
  font-size: 1.125rem; 
  font-weight: 600; 
  color: white;
}

.nav-link::after {
  content: "—";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 1.5rem; 
  margin-left: .8rem;
}

@media (max-width: 400px) {
  .nav-link::after {
    content: '';
  }
}

.nav-link:last-child::after {
  content: none;
}

.dropdown {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

select {
  padding: 5px;
  font-size: 16px;
}

.center-svg {
  display: block; 
  margin-left: auto;
  margin-right: auto;
}
